body {
  background-color: #e7e8ed;
}
.App {
  text-align: center;
  background-color: #e7e8ed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-input {
  max-width: 50px;
  text-align: center;
  font-size: 60px;
}

.InputLetters {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 6px;
  background-color: #e7e8ed;
}

button {
  margin: 5px;
  background-color: rgb(56, 165, 56);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: white;
}
